/practice/Ejercicio_1/build/
/practice/Ejercicio_1/nbproject/private/
/practice/Ejercicio_2/build/
/practice/Ejercicio_2/nbproject/private/
/practice/Ejercicio_3/build/
/practice/Ejercicio_3/nbproject/private/
/practice/JavaApplication3/nbproject/private/
/IGNORE/Ejercicio_1/build/
/IGNORE/Ejercicio_1/nbproject/private/
/IGNORE/Ejercicio_2/build/
/IGNORE/Ejercicio_2/nbproject/private/
/IGNORE/Ejercicio_3/build/
/IGNORE/Ejercicio_3/nbproject/private/
/IGNORE/JavaApplication3/nbproject/private/
/TP 1 - Introducción a Java/JavaApplication7/nbproject/private/
/TP 1 - Introducción a Java/Ejercicio_1/nbproject/private/
/TP 1 - Introducción a Java/Ejercicio_1/build/
/TP 1 - Introducción a Java/Ejercicio_3/nbproject/private/
/TP 1 - Introducción a Java/Ejercicio_3/build/
/TP 1 - Introducción a Java/Ejercicio_4/nbproject/private/
/TP 1 - Introducción a Java/Ejercicio_4/build/
/TP 1 - Introducción a Java/Ejercicio_5/nbproject/private/
/TP 1 - Introducción a Java/Ejercicio_5/build/
/TP 1 - Introducción a Java/Ejercicio_6/nbproject/private/
/TP 1 - Introducción a Java/Ejercicio_6/build/
/TP 1 - Introducción a Java/Ejercicio_7/nbproject/private/
/TP 1 - Introducción a Java/Ejercicio_8/nbproject/private/
/TP 1 - Introducción a Java/Ejercicio_8/build/
/TP 1 - Introducción a Java/Ejercicio_9/nbproject/private/
/TP 1 - Introducción a Java/Ejercicio_9/build/
/TP 1 - Introducción a Java/Ejercicio_10/nbproject/private/
/TP 1 - Introducción a Java/Ejercicio_10/build/
/JavaApplication17/nbproject/private/
/JavaApplication17/build/
/JavaApplication17/dist/
/TP 2 - Programación Estructurada/TP_2_Programacion_Estructurada/nbproject/private/
/TP 2 - Programación Estructurada/TP_2_Programacion_Estructurada/build/
/TP 2 - Programación Estructurada/TP_2_Programacion_Estructurada/dist/
/TP 2 - Programación Estructurada/Ejercicio_6/nbproject/private/
/IGNORE/POO/nbproject/private/
/IGNORE/POO/build/
/TP 3 - Introducción a la Programación Orientada a Objetos/TP_3_Introduccion_a_POO/nbproject/private/
/TP 3 - Introducción a la Programación Orientada a Objetos/TP_3_Introduccion_a_POO/build/
/TP 3 - Introducción a la Programación Orientada a Objetos/TP_3_Introduccion_a_POO/dist/
