/practice/Ejercicio_1/build/
/practice/Ejercicio_1/nbproject/private/
/practice/Ejercicio_2/build/
/practice/Ejercicio_2/nbproject/private/
/practice/Ejercicio_3/build/
/practice/Ejercicio_3/nbproject/private/
/practice/JavaApplication3/nbproject/private/
/IGNORE/Ejercicio_1/build/
/IGNORE/Ejercicio_1/nbproject/private/
/IGNORE/Ejercicio_2/build/
/IGNORE/Ejercicio_2/nbproject/private/
/IGNORE/Ejercicio_3/build/
/IGNORE/Ejercicio_3/nbproject/private/
/IGNORE/JavaApplication3/nbproject/private/
